.contenedor-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: rgb(184, 184, 184);
    height: 80px;
}
.link{
    margin: 0 20px;
    text-decoration: none;
}

.logo{
    height: 50px;
    margin-left: 0px;
}
nav ul li {
    list-style: none;
}

.estilos-a{ 
    text-decoration: none;
    color: green;
}

.contenedor-logo{
    width: 300px;
    background-color: rgb(184, 184, 184);}

.contenedor-incio{
    background-color: rgb(184, 184, 184);    width: 100px;
    margin-left: 250px;
    border-radius: 25px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.contenedor-navbar{
    width: 500px;
    background-color: rgb(184, 184, 184);    
    margin-left: 100px;
    margin-right: 100px;
}

.contenedor-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botones-menu{
    background-color: seashell;
    border-radius: 25px;
    height: 40px;
    width: 100px;
}