.contenedor-general{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
}

.contenedor-detalle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(189, 189, 189);
    height: 350px;
    width: 900px;
    border-radius: 20px;

}

.button {
    text-decoration: none;
}
 .img-detalle{
     height: 300px;
    border-radius: 10%;
} 

.contenedor-desc{
    margin: 20px;
}

.titulo{
 font-size: 24px;   
}

.desc{
    width: 320px;
}

.contenedor-precio{
    margin-top: 150px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

.precio{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 130, 230);
    color: rgb(0, 130, 230) ;
     display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color: rgb(233, 231, 231);

}

.button-volver{
    border: 1px solid rgb(0, 130, 230);
    color: rgb(0, 130, 230) ;
    
    
}